version: "3.9"
services:
  achadinhos-next:
    build:
      context: .
      dockerfile: AchadinhosBot.Next/Dockerfile
    container_name: achadinhos-next
    restart: unless-stopped
    ports:
      - "8081:8081"
    env_file:
      - AchadinhosBot.Next/.env
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Development}
      WEBHOOK__PORT: ${WEBHOOK__PORT:-8081}
      WEBHOOK__API_KEY: ${WEBHOOK__API_KEY:-dev-local-key}
      AUTH__ADMIN__USERNAME: ${AUTH__ADMIN__USERNAME:-admin}
      AUTH__ADMIN__PASSWORD_HASH: ${AUTH__ADMIN__PASSWORD_HASH}
      AUTH__OPERATOR__USERNAME: ${AUTH__OPERATOR__USERNAME:-operator}
      AUTH__OPERATOR__PASSWORD_HASH: ${AUTH__OPERATOR__PASSWORD_HASH}
      EVOLUTION__BASE_URL: ${EVOLUTION__BASE_URL:-http://evolution:8082}
      EVOLUTION__API_KEY: ${EVOLUTION__API_KEY}
      EVOLUTION__INSTANCE_NAME: ${EVOLUTION__INSTANCE_NAME:-achadinhos-next}
      EVOLUTION__WEBHOOK_SECRET: ${EVOLUTION__WEBHOOK_SECRET}
      TELEGRAM__BOT_TOKEN: ${TELEGRAM__BOT_TOKEN}
      AFFILIATE__AMAZON_TAG: ${AFFILIATE__AMAZON_TAG:-seu-tag-20}
      AFFILIATE__SHEIN_ID: ${AFFILIATE__SHEIN_ID:-affiliate_id}
      AFFILIATE__SHEIN_CODE: ${AFFILIATE__SHEIN_CODE:-CODIGO}
    volumes:
      - achadinhos_data:/app/data

volumes:
  achadinhos_data:
