WEBHOOK__PORT=8081
WEBHOOK__API_KEY=CHANGE_ME_WEBHOOK_API_KEY

AUTH__USERS__0__USERNAME=admin
AUTH__USERS__0__PASSWORDHASH=CHANGE_ME_PBKDF2_HASH
AUTH__USERS__0__ROLE=admin
AUTH__USERS__0__ENABLED=true

AUTH__USERS__1__USERNAME=operator
AUTH__USERS__1__PASSWORDHASH=CHANGE_ME_PBKDF2_HASH
AUTH__USERS__1__ROLE=operator
AUTH__USERS__1__ENABLED=true

TELEGRAM__BOTTOKEN=CHANGE_ME_TELEGRAM_BOT_TOKEN
TELEGRAM__APIID=0
TELEGRAM__APIHASH=CHANGE_ME_TELEGRAM_API_HASH
TELEGRAM__USERBOTPHONE=+5500000000000

EVOLUTION__BASE_URL=http://host.docker.internal:8082
EVOLUTION__API_KEY=CHANGE_ME_EVOLUTION_API_KEY
EVOLUTION__INSTANCE_NAME=ZapOfertasDev

AFFILIATE__SHOPEEAPPID=CHANGE_ME_SHOPEE_APP_ID
AFFILIATE__SHOPEESECRET=CHANGE_ME_SHOPEE_SECRET
AFFILIATE__SHOPEE_APP_ID=CHANGE_ME_SHOPEE_APP_ID
AFFILIATE__SHOPEE_SECRET=CHANGE_ME_SHOPEE_SECRET
AFFILIATE__AMAZONTAG=CHANGE_ME_AMAZON_TAG
AFFILIATE__SHEINID=CHANGE_ME_SHEIN_ID
AFFILIATE__SHEINCODE=CHANGE_ME_SHEIN_CODE

RABBITMQ__HOST=rabbitmq
RABBITMQ__VIRTUALHOST=/
RABBITMQ__USERNAME=guest
RABBITMQ__PASSWORD=guest
